@import "@Assets/styles/Colors.scss";

.login {
    &-otp {
        &-input {
            padding-top: 36px;
            input {
                width: 40px;
                height: 40px;
                margin: 0 3px;
                font-size: 20px;
                text-align: center;
                border-radius: 4px;
                border: 1px solid $black;
            }
            button {
                width: 100%;
                margin-top: 30px;
                background-color: $crayola;
                min-height: 44px;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                border-radius: 5px;

                &:hover,
                &:visited,
                &:focus {
                    color: $white;
                }
            }
            &-item {
                width: 36px;
                border-radius: 5px;

                input {
                    min-height: 36px;
                }
            }
        }

        &-container {
            margin: 5% auto;
        }
    }
}
