@import "@Assets/styles/Colors.scss";
@import "@Assets/styles/Mixins.scss";

.login {
  height: 100vh;

  &-banner {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include media-break-point-down(sm) {
      display: none;
    }
    &-box {
      width: 100%;
      height: 400px;
      &-icon {
        min-width: 300px;
      }
    }
  }
  &-box {
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include media-break-point-down(sm) {
      width: 300px;
      height: 420px;
    }
    @include media-break-point-up(sm) {
      width: 350px;
      height: 430px;
    }
    @include media-break-point-up(md) {
      width: 340px;
    }
    @include media-break-point-up(lg) {
      width: 350px;
    }
    &-icon {
      width: 420px;
      height: 400px;
    }
  }
  &-footer {
    &-box {
      margin-top: 25%;
    }
    &-icon {
      margin: 0px 10px;
    }
  }
  &-icon {
    width: 25px;
    height: 25px;
    margin: 40px 0px;
  }
  &-companylogo {
    width: 65px;
    height: 65px;
  }
  &-text {
    margin: 42px 0px;
    font-size: 20px;
    font-weight: bold;
  }
  &-modal {
    padding: 25px;
    &-form {
      width: 400px;
      margin: auto;
      @include media-break-point-down(sm) {
        width: 250px;
      }
      @include media-break-point-up(sm) {
        width: 300px;
      }
      &-options {
        display: flex;
        flex-direction: row;
        @include media-break-point-down(sm) {
          flex-direction: column;
        }
      }
    }

    &-icon {
      width: 15px;
    }
    &-title {
      h2 {
        font-style: normal;
      }
      span {
        color: $warm-gray;
      }
    }
    &-rememberme {
      display: flex;
      flex-direction: row;
      margin: 10px 0px;

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }
    }
    &-checkbox {
      width: 25px !important;
      &-spancheck {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &-input {
      padding: 10px 0px;
      span {
        padding-bottom: 10px;
        font-weight: 600;
      }
      button {
        width: 100%;
        margin-top: 30px;
        background-color: $crayola;
      }
      &-footer {
        padding: 10px;
        color: $warm-gray;
        a {
          color: $crayola;
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }
  &-forgotpassword {
    justify-content: right;
    margin: 10px 0px;
    @include media-break-point-down(sm) {
      justify-content: left;
      margin: 10px 5px;
    }
  }
  &-button {
    width: 300px;
    min-height: 50px;
    font-size: 18px;
    border-radius: 5px;
    background-color: $crayola;
    margin: 15px 0;
    &-container {
      margin: 10px 0px;
    }
    @include media-break-point-down(sm) {
      width: 250px;
    }
  }
}
