// Base Colors
$RR-Navy: #0f2d49;
$RR-SkyBlue: #6ec5f5;
$RR-IceBlue: #d5f6ff;
$RR-Green: #325a17; // Sales Funnel
$natural: #fbf9f5;
$green: #008000;
$white: #fff;
$metal: #242a31;

// Body Text Colors
$asphalt: #292826;

$crayola: #b1308c;
$vip-teal: #159897;
$red: #e41d1b;

// Gray Collection
$gray: #858585;
$very-light-gray: #c7c7c7;
$very-light-shade-gray: #f6f6f6;
$warm-gray: #6b6966;
$warm-light-gray: #f3f3f2;
$warm-medium-gray: #d8d5d2;
$palette-grey-gallery: #ededed;
$dim-gray: #666;
$icewind-dale: #e9ecef;
$storm-gray: #767677;
$cool-gray: #8990a6;
$lavender-gray: #cdd1e0;

// Shadow colors
$shadow-dark: #00000029;

// Overlay colors
$overlay-dark: rgba(0, 0, 0, 0.8);

// Error
$error-rust: #ab5c0e;
$error-red: #f00;

// Additional colors
$black: #000;
$tangerine-yellow: #ffcd00;
$light-solitude: #f6f7f8;
$dark-solitude: #edeef1;
$montana: #414242;
$purple-heart: #5141d8;
$tawny-red: #af3c00;
$alice-blue: #fbfeff;
$alice-blue-dark: #f1faff;
$medium-blue: #2062ae;
$alizarin-red: #d8233e;
$gold: #dea856;
$teal: #2facba;
$beige: #faf2e7;
$desire: #de3c53;
$express: #757575;
$metalic-blue: #484964;
$topaz: #808192;
$light-green: #29C740;
// Page/Campaign Specific
$outlet-red: #cc0001;
$outlet-orange: #f85e0b;
